DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE
KAFKA_BROKERS=localhost:9092
BREVO_API_KEY=
BREVO_USER_NAME=
BREVO_USER_EMAIL=
SOLANA_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
