DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE
PORT=5000
BREVO_API_KEY=
BREVO_USER_NAME=
BREVO_USER_EMAIL=
SOLANA_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PROXIES=
VIRTUAL_ENV= # Path to your python venv (e.g., /path/to/apps/server/venv)
