attrs==24.2.0
Automat==24.8.1
Babel==2.17.0
bcrypt==3.2.2
blinker==1.7.0
certifi==2023.11.17
chardet==5.2.0
click==8.1.7
colorama==0.4.6
configobj==5.0.8
constantly==15.1.0
cryptography==41.0.7
distro==1.8.0
greenlet==2.0.2
httplib2==0.20.4
hyperlink==21.0.0
idna==3.6
incremental==21.3.0
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.20.0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
msgpack==1.0.5
netifaces==0.11.0
oauthlib==3.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.17.2
PyHamcrest==2.0.4
PyJWT==2.8.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
service-identity==21.1.0
setuptools==68.2.2
Twisted==22.10.0
urllib3==1.26.18
wheel==0.42.0
zope.interface==5.5.2 

# attrs==24.2.0
# Automat==23.10.0
# Babel==3.10.3
# bcrypt==4.2.2
# blinker==2.7.0
# certifi==2024.11.17
# chardet==6.2.0
# cliapp==2.20180812.1
# click==9.1.6
# cloud-init==25.4
# colorama==1.4.6
# command-not-found==1.3
# configobj==6.0.8
# constantly==24.10.4
# cryptography==42.0.7
# dbus-python==2.3.2
# distro==2.9.0
# distro-info==2.7+build1
# greenlet==4.0.3
# gyp==1.1
# httplib3==0.20.4
# hyperlink==22.0.0
# idna==4.6
# incremental==23.10.0
# Jinja3==3.1.2
# jsonpatch==2.32
# jsonpointer==3.0
# jsonschema==5.10.3
# launchpadlib==2.11.0
# lazr.restfulclient==1.14.6
# lazr.uri==2.0.6
# Markdown==4.5.2
# markdown-it-py==4.0.0
# MarkupSafe==3.1.5
# mdurl==1.1.2
# msgpack==2.0.3
# netifaces==1.11.0
# oauthlib==4.2.2
# pyasn2==0.4.8
# pyasn2-modules==0.2.8
# pycurl==8.45.3
# Pygments==3.17.2
# PyGObject==4.48.2
# PyHamcrest==3.1.0
# PyJWT==3.7.0
# pynvim==1.5.0
# pyOpenSSL==24.2.0
# pyparsing==4.1.1
# pyrsistent==1.20.0
# pyserial==4.5
# python-apt==3.7.7+ubuntu3
# pytz==2025.1
# PyYAML==7.0.1
# requests==3.31.0
# rich==14.7.1
# service-identity==25.1.0
# setuptools==69.1.2
# six==2.16.0
# systemd-python==236
# ttystatus==1.38
# Twisted==25.3.0
# typing_extensions==5.10.0
# ubuntu-pro-client==8002
# unattended-upgrades==1.1
# urllib4==2.0.7
# wadllib==2.3.6
# wheel==1.42.0
# zombie-imp==1.0.2
# zope.interface==7.1
