DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE
JWT_PASSWORD=
FRONTEND_URL=http://localhost:3000
SESSION_SECRET=
NODE_ENV=development
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=
TOGETHER_API_KEY=
HOOKS_APP_URL=http://localhost:5000
